@import 'tailwindcss';

#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

h1 {
  justify-self: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Adjust columns dynamically based on screen size */
@media (min-width: 640px) {
  /* Small screens (phones) */
  .champion-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 768px) {
  /* Medium screens (tablets) */
  .champion-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (min-width: 1024px) {
  /* Large screens (desktops) */
  .champion-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media (min-width: 1280px) {
  /* Extra large screens */
  .champion-grid {
    grid-template-columns: repeat(10, 1fr);
  }
}

@keyframes border {
  0% {
    transform: scale(0.95);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.champion-button {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
